html {
    --primary-color: #00539F;
    --bg-color: #f0f0f0;
    --white: #fff;
    --border-color: rgb(204,204,204);
    --border: 1px solid var(--border-color);
    --green: #42b883;
    --green-dark: #148250;
    --scale-black: #1b1f23;
    --warning: #fdeec2;
    --high-priority: #eb5a46;
    --medium-priority: #ff9f1a;
    --low-priority: #f2d600;
    --task-todo: rgb(216, 156, 52);
    --task-inProgress: rgb(224, 210, 85);
    --task-done: rgb(90, 191, 174);
}

* {
    box-sizing: border-box;
    line-height: 1.487;
    outline: none;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.reference-text {
    opacity: 0.6;
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
}

.profile-feed__link {
    text-decoration: none;
    color: inherit;
}

.profile-feed__link:hover {
    text-decoration: underline;
}

.profile-feed__strong {
    font-weight: 600;
}

